Repository diogoferreira1810/twd-mp1-Diogo-Ferreira: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# This hook runs before each commit is created
pre-commit:
  # Run tasks in parallel for better performance
  parallel: true
  commands:
    # Format code with Prettier
    prettier:
      # Match any JS, TS, JSX, TSX, CSS, MD, or YML files, run this only on these file types, avoiding binary files like images
      glob: '*.{js,ts,jsx,tsx,css,md,yml}'
      # Run prettier only on files that are staged for commit, only files that were changed
      run: npm run prettier {staged_files}

    # Lint code with ESLint
    eslint:
      # Match any JS, TS, JSX, or TSX files
      glob: '*.{js,ts,jsx,tsx}'
      # Run eslint only on files that are staged for commit
      run: npm run eslint {staged_files}

    jest:
      # Run jest only
      run: npm run jest && npm run jest-coverage

test to see if internal error on netlify is fixed
  next.config.js
Due: prettier, eslint

added netlify-ci, starting on adding to netlify the right way
  lib/api.ts
  package-lock.json
  package.json
Due: prettier, eslint

updated progress.txt
  progress.txt
Due: none

updated pipeline file to only do build/deploy on main branch
  .github/workflows/pipeline.yml
  TDW_M1A_MP1_25_26_pt.pdf
  progress.txt
Due: prettier

updated progress file, gonna start working on cms automatic trigger of pipeline, also transfering to other computer
  progress.txt
Due: none

fixed wrong commits, deleted secrets from duvidas.txt
  .github/workflows/pipeline.yml
Due: prettier

fixed pipeline taking to long
  .github/workflows/pipeline.yml
Due: prettier

going do start working on midnight cron-job
  progress.txt
Due: none

pipeline triggers on any branch, build and deploy only on main
  .github/workflows/pipeline.yml
  progress.txt
Due: prettier

added cron job
  .github/workflows/pipeline.yml
Due: prettier

push before changing computer
  progress.txt
Due: none

updated lefthook to have pre-commit and pre-push
  lefthook.yml
  progress.txt
Due: prettier

testing updated pipeline
  .github/workflows/pipeline.yml
Due: prettier

added cache in pipeline
  .github/workflows/pipeline.yml
Due: prettier

checking if cache is being used on pipeline
  .github/workflows/pipeline.yml
  progress.txt
Due: prettier

testing team notification
  .github/workflows/pipeline.yml
  progress.txt
Due: prettier

still testing teams notification
  .github/workflows/pipeline.yml
Due: prettier

seeing snyk in action
  .github/workflows/pipeline.yml
  lint-test.js
  package-lock.json
  package.json
  prettier-test.js
  progress.txt
Due: prettier, eslint

aiming to remove risks detected by snyk envolving lint
  .github/workflows/pipeline.yml
  package-lock.json
  package.json
Due: prettier

altered snyk fail arguments
  .github/workflows/pipeline.yml
Due: prettier

trying to fix contentful, probably gonna fail the pipeline
  .github/workflows/pipeline.yml
  lib/api.ts
Due: prettier, eslint

fixing build error
  .github/workflows/pipeline.yml
  lib/api.ts
Due: prettier, eslint

fix: upgrade postcss from 8.4.31 to 8.5.6
  package-lock.json
  package.json
Due: none

fix: upgrade @tailwindcss/typography from 0.5.9 to 0.5.19
  package-lock.json
  package.json
Due: none

fix: upgrade autoprefixer from 10.4.15 to 10.4.21
  package-lock.json
  package.json
Due: none

fix: upgrade @types/node from 20.19.19 to 20.19.22
  package-lock.json
  package.json
Due: none

fix: upgrade next from 15.5.4 to 15.5.6
  package-lock.json
  package.json
Due: none
